:root {
    --main-color: #1455D6;
    --complimentary-color: #FFA700;
    --dark-color: #2a2d37;
    --light-color: white;
}

section {
    height: 100vh;
    width: 100vw;
}

#home {
    background: var(--dark-color);
    /* background: linear-gradient(-45deg, var(--dark-color), #000000 );
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite; */

    color: var(--light-color);
}

@keyframes Gradient {
    0% {
        background-position: 0% 0%
    }
    50% {
        background-position: 100% 75%
    }
    100% {
        background-position: 0% 0%
    }
}

#about {

}

.text-main {
    color: var(--main-color);
}

/* View Work Button */
#btn-view-work {
    padding: 1em;
    background: none;
    border: 3px solid var(--light-color);
    color: var(--light-color);
    transition: all 0.3s ease-in-out;
}

#btn-view-work:hover {
    background: var(--complimentary-color);
    border: 3px solid var(--complimentary-color);
}

#btn-view-work i {
    transition: all 0.3s ease-in-out;
}

#btn-view-work:hover i{
    transform-origin: center;
    transform: rotate(90deg);
}

