:root {
    --main-color: #0893C8;
    --complimentary-color: #FF8500;
    --dark-color: #17181A;
    --gray-color: #343434;
    --light-color: #ddd;
}

body {
    overflow-x: hidden;
}

section {
    height: 100vh;
    width: 100vw;
}

#home {
    background: var(--gray-color);
    background: url(../images/footer_lodyas.png);
    color: var(--light-color);
    animation: animatedBackground 15s ease-in-out infinite alternate;
}

@keyframes animatedBackground {
	from { background-position: 0% 0%; }
	to { background-position: 100% 0%; }
}

#about {
    background: var(--light-color);
}

.text-main {
    color: var(--main-color);
}

/* View Work Button */
#btn-view-work {
    padding: 1em;
    background: none;
    border: 3px solid var(--light-color);
    color: var(--light-color);
    transition: all 0.3s ease-in-out;
}

#btn-view-work:hover {
    background: var(--complimentary-color);
    border: 3px solid var(--complimentary-color);
}

#btn-view-work i {
    transition: all 0.3s ease-in-out;
}

#btn-view-work:hover i{
    transform-origin: center;
    transform: rotate(90deg);
}

/* NAVBAR */
.navbar {
    border-bottom: 3px solid var(--main-color);
}

.navbar-dark .navbar-nav .nav-item .nav-link {
    transition: all 0.3s ease-in-out;
    color: var(--light-color)
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: var(--complimentary-color);
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: var(--complimentary-color);
}