/********************************************** 
    MAIN STYLES APPLIED ACROSS EVERY PAGE
**********************************************/
html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
}

body {
    background-image: url("../images/background.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    display: flex;
    flex-direction: column;
}

header {
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
}

.header-container {
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

h1, h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif; 
}

h1 {
    display: inline-block;
    background: #4aaaa5;
    color: #ffffff;
    height: 100%;
    margin: 0;
    padding: 1em;
    align-self: flex-start;
}

nav ul {
    margin: 40px;
}

.nav-btn {
    display: inline-block;
    border-right: 1px solid #666666;
}

.nav-btn:last-of-type {
    border: none;
}

.nav-btn a {
    margin: auto 1em;
    text-decoration: none;
    color: #666666;
}

h2 {
    color: #4aaaa5;
}

main {
    flex: 1 0 auto;
}

section {
    background: #ffffff;
    width: 920px;
    margin: 1em auto;
    padding: 20px;
}

footer {
    background: #666666;
    text-align: center;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
    padding: 1em;
    flex-shrink: 0;
}

/**********************************************  
    STYLES FOR INDEX.HTML (ABOUT ME)
**********************************************/
.about-me-container {
    margin: 1em;
}


#profile-img {
    width: 25%;
    float: left;
    margin: auto 1em 1em auto;
}

/********************************************** 
    STYLES FOR CONTACT.HTML
**********************************************/
form {
    margin: 1em;
}

input {
    display: block;
}

input[type=text] {
    margin-bottom: 2em;
    width: 100%;
    box-sizing: border-box;
    padding: 1em 0.5em;
}

textarea {
    display: block;
    margin-bottom: 2em;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    height: 150px;
    resize: none;
}

input[type="submit"] {
    padding: 1em;
    background: #4aaaa5;
    color: #ffffff;
    border: none;
}

/**********************************************  
    STYLES FOR PORTFOLIO.HTML
**********************************************/
.portfolio-container {
    margin: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.portfolio-item {
    width: 200px;
    height: 200px;
    margin: 1em;
    background: #cccccc;
    position: relative;
}

.portfolio-link {
    display: block;
    width: 160px;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 10px auto;
    padding: 10px 20px;
    background: #4aaaa5;
    color: #ffffff;
    text-decoration: none;
}

