:root {
    --main-color: #1455D6;
    --complimentary-color: #FFA700;
    --dark-color: #2a2d37;
    --light-color: white;
}

#home {
    height: 100vh;
    width: 100vw;
    background: var(--dark-color);
    color: var(--light-color);
}

.text-main {
    color: var(--main-color);
}

/* View Work Button */
#btn-view-work {
    padding: 1em;
    background: var(--dark-color);
    border: 3px solid var(--light-color);
    color: var(--light-color);
    transition: all 0.3s ease-in-out;
}

#btn-view-work:hover {
    background: var(--complimentary-color);
    border: 3px solid var(--complimentary-color);
}

#btn-view-work i {
    transition: all 0.3s ease-in-out;
}

#btn-view-work:hover i{
    transform-origin: center;
    transform: rotate(90deg);
}

