/*F1F2ED
34DFC7
38789B
88848A
10284C*/
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.25em;
}

h1, h2, h3 {
  font-family: 'Arvo', serif;
  font-size: 2em;
}

article {
  border-radius: 1em;
  margin: 0 auto;
}

section {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  background: #38789B;
  color: #F1F2ED;
  align-items: center;
}

section:nth-child(2n){
  background: #F1F2ED;  
  color: #38789B;
}

.profile-photo {
  width: 10em;
  height: 10em;
  border-radius: 1em;
  margin: 0em 2em;
}

.intro {
  display: flex;
  align-items: center;
  flex-flow: row;
}

.intro-text {
  margin: 2em 0;
}

.see-more {
  align-self: flex-end;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.skills {
  display: flex;  
  align-items: center;
  flex-flow: column;
}

.skills-content {
  display: flex;  
  align-items: center;
  flex-flow: row;
}

.webdev-skills, .general-skills {
  margin: 1em;
}

a .fa {
  margin: .25em;
}

a {
  text-decoration: none;
  color: #F1F2ED;
  transition: color 0.5s ease;
}

a:hover {
  color: #34DFC7;
}

.see-more p {
  margin: 0;
}

@media (max-width: 640px) {
  a:hover {
    color: #F1F2ED;
  }

  h1 {
    text-align: center; 
  }

  .intro {
    flex-flow: column wrap;
  }

  .intro-text {
    margin: 0;
    text-align: center;
  }

  .skills-content {
    flex-flow: column wrap;
  }

  .social-media-icons {
    text-align: center;
  }

  .profile-photo {
    height: 5em;
    width: 5em;
  }
}
