body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 1.5em;
}

article {
  background: #222;
  margin: 1em;
  min-height: 15em;
  color: #CCC;
  padding: 1em;
}

section {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  height: 100vh;
  background: #222;
  border-bottom: 1px solid white;
  align-items: center;
}

.profile-photo {
  width: 10em;
  height: 10em;
  border-radius: 100%;
}

.intro {
  max-width: 750px;
  margin: auto;
}

.intro-content {
  display: flex;
  align-items: center;
  flex-flow: row;
}

.intro-text {
  margin: 2em;
}

.social-media-icons {
  text-align: center;
}

.fa {
  margin: .15em;
}

.social-media-icons a {
  text-decoration: none;
  color: #CCC;
  transition: color 0.5s ease;
}

.social-media-icons a:hover {
  color: teal;
}

@media (max-width: 640px) {
  .intro-content {
    flex-flow: column wrap;
  }
}